<header class = "jumbotron">
  <h1>FindAnswers</h1>
</header>

<div class="container">
  {{outlet}}


  <hr>

  <footer>
    {{#link-to 'contact'}}Our representatives would love to help if you experience any issues with this site!{{/link-to}}
    {{#link-to 'index'}}Go Home{{/link-to}}
  </footer>
</div>


<!-- {{#link-to 'index'}}<h2>FindAnswers Home</h2>{{/link-to}}
{{#link-to 'contact'}}<h2>Contact Us</h2>{{/link-to}}

{{outlet}} -->
